.timer {
  background: #2ecc71;
  padding: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.finished{
  background: #e74c3c;
}

.timer .name {
  font-size: 1rem;
  text-align: left;
}

.timer .time {
  font-size: 5rem;
}

.timer .actions {
  display: flex;
  justify-content: space-between;
}

.timer .actions > div {
  cursor: pointer;
}